/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

/* 모든 box-sizing을 padding과 border까지 합해서 width와 height이 지정될 수 있도록 함 */
* {
  box-sizing: border-box;
}

/* HTML Head부분에 적용했던 Open Sans font를 CSS에 코딩 */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* browser에서 설정된 기본적인 setting값을 reset */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

/* list-style: none : ul tag에 목록과 같은 item을 제거 */
ul {
  list-style: none;
  padding: 0;
}

/* text-decoration: none : 밑줄을 제거 */
/* a tag가 blue color로 link화 되어있는 것을 black color로 변경 */
a {
  text-decoration: none;
  color: var(--color-text);
}

/* background-color: transparent : button의 색상을 제거 */
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Header */
/* flex 옵션을 이용해서 div 와 nav tag를 수평으로 나란히 배치 */
/* justify-content: space-between : 각각 item 사이의 간격을 자동으로 배정*/
.header {
  background-color: #050a13;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

/* 1.8rem : 현재 browser에 기본적으로 설정되어 있는 font-size에 1.8배를 해줌 */
.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

/* user가 보고 있는 창에 대한 메뉴에 accent를 부여 */
/* 2개의 tag를 가지고 있는 class를 작성할 때에는 붙여서 coding하면 됨 */
.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

/* object-fit: cover 옵션을 사용하면, image의 원래 비율이 유지 */
.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid var(--color-accent);
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home_title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 1.3rem;
}

/* a tag는 inline tag이기 때문에, 위아래로 margin이 적용되지 않음 >> display: inline-block을 사용하여 a tag가 한 줄을 차지하지만 실제 background는 컨텐츠의 size에 맞게 맞춰지도록 해줌 */
.home__contact {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  margin: 2rem;
  font-weight: bold;
  border-radius: 4px;
}

/* background-color: transparent 옵션은 background color를 투명하게 만들어주는 역할 */
/* border를 사용할 경우, home__contact에 height에 대한 정보가 없으므로, border값 만큼 컨텐츠 밀림 현상이 발생함 >> border가 아닌 outline으로 사용하여 방지 */
.home__contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}
